@{
    ViewData["Title"] = "Добавление файла";
}

<h2>Выберите файл для загрузки</h2>
<form asp-action="file", asp-controller="admin" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" /><br>
    <input type="submit" value="Загрузить" />
</form>