@model Hotel

<h2>Добавить отель</h2>

<form asp-action="Hotel" asp-controller="Admin" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name">Название отеля</label>
        <input type="text" asp-for="Name" />
    </div>
    
    <div>
        <label asp-for="Description">Описание</label>
        <textarea asp-for="Description"></textarea>
    </div>
    
    <div>
        <label asp-for="PricePerNight">Цена за ночь</label>
        <input type="number" asp-for="PricePerNight" min="0" value="0" step=".01">
    </div>
    
    <div>
        <label asp-for="TownId">Город нахождения отеля</label>
        <select asp-for="TownId" asp-items="ViewBag.Towns"></select>
    </div>
    
    <div>
        <label asp-for="RaitingId">Количество звезд</label>
        <select asp-for="RaitingId" asp-items="ViewBag.Raitings"></select>
    </div>
    
    <div>
        <label asp-for="FoodId">Питание</label>
        <select asp-for="FoodId" asp-items="ViewBag.Foods"></select>
    </div>
    
    <div>
        <input type="submit" value="Добавить" />
    </div>
</form>

@section scripts
{
    <script>
        $(document).ready(() => {
            $('select').formSelect();
        })
    </script>
}