<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Туроператор</title>
    <link rel="stylesheet" href="~/lib/materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/tour.css">
    <script src="jquery.star-rating-svg.js"></script>
    <link rel="stylesheet" type="text/css" href="star-rating-svg.css">
    <div class="my-rating"></div>
</head>
<body>
    <partial name="Partials/Header" />
        
    <div class="container">
        @RenderBody()
    </div>
    
    <partial name="Partials/Footer" />
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/materialize/js/materialize.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>