@model TourOperator.ViewModels.RegisterModel

<h2>Регистрация</h2>

<form asp-action="Register" asp-controller="Account" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="Login">Введите логин</label>
            <input type="text" asp-for="Login" />
            <span asp-validation-for="Login" />
        </div>
        <div>
            <label asp-for="Password">Введите пароль</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div>
            <label asp-for="ConfirmPassword">Повторите пароль</label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" />
        </div><div>
            <label asp-for="LastName">Фамилия</label>
            <input asp-for="LastName" />
            <span asp-validation-for="LastName" />
        </div>
       <div>
            <label asp-for="FirstName">Имя</label>
            <input asp-for="FirstName" />
            <span asp-validation-for="FirstName" />
        </div>
       <div>
            <label asp-for="MiddleName">Отчество</label>
            <input asp-for="MiddleName" />
        </div>
       
        <button class="btn waves-effect waves-light" type="submit" name="action">Регистрация</button>
    </div>
</form>