@{
    ViewData["Title"] = "Главная";
}

<div class="carousel" style="height: 160px;margin-top: 40px;">
    <a class="carousel-item" href="#one!"><img src="/img/8.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="/img/2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="/img/3.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="/img/4.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="/img/5.jpg"></a>
</div>

<h3>Весь мир с &laquo;Красной птицей&raquo;</h3>

<p>Компания &laquo;Красная птица&raquo; осуществляет мечты людей об идеальном отдыхе с 1995 года &mdash; уже 25 лет! Туроператор предлагает путешествия в 39 стран мира с вылетами из более 40 городов России. Вниманию туристов Красная птица представлены лучшие курорты и отели Турции, России, Туниса, Таиланда, Вьетнама, Греции, Испании, и других стран.
Более 14 000 туристических агентств по всей России осуществляют продажу туров от &laquo;Красная птица&raquo;. Мы также обладаем самой большой франчайзинговой сетью в стране, которая насчитывает более 900 фирменных офисов. Помимо этого, для наших туристов открыта единственная в России премиальная сеть агентств Красная птица Elite Service, которая на данный момент насчитывает более 40 офисов продаж.</p>

<h3>Элитный отдых с &laquo;Красной птицей&raquo;</h3>
<p>В 2017 году &laquo;Красная птица&raquo;, первым среди крупных туроператоров, представил специальный отдел Элитного отдыха &laquo;Красная птица&raquo; Elite, осуществляющий обслуживание VIP-заявок.
На протяжении всего существования &laquo;Красная птица&raquo; пользуется большим успехом у семей с детьми. Специально для этой категории туристов уже 10 лет работает фирменная концепция идеального семейного отдыха Sun Family Club. Изюминка концепции – опытные российские педагоги, предлагающие детям всех возрастных групп не только отдых и развлечения, но и интересные развивающие занятия. Также в рамках фирменной концепции производится тщательный отбор отелей в соответствии со строгими стандартами качества. На текущий момент таких отелей уже более 80-ти.</p>

<h3>Летайте с &laquo;Красной птицей&raquo;</h3>
<p>Ключевым авиапартнером &laquo;Красная птица&raquo; является авиакомпания Royal Flight, осуществляющая чартерные пассажирские перевозки из Москвы и регионов в Турцию, ОАЭ, Грецию, Тунис, Таиланд, Вьетнам и другие страны. Преимущества компании – современный парк самолетов, высокая система безопасности и качества полетов, соответствующие международным стандартам.</p>

<h3>Путшествуйте с &laquo;Красной птицей&raquo;</h3>
<p>Семейный и элитный отдых – далеко не единственные приоритеты &laquo;Красная птица&raquo;. Компания также занимается групповыми турами и мероприятиями, полностью отвечающими любым интересам корпоративных клиентов.
Разнообразие вариантов отдыха, контроль качества работы на всех этапах, огромное количество направлений и специальные концепции для туристов разных возрастов и категорий – то, за что миллионы туристов выбирают &laquo;Красная птица&raquo;.

<h3>С &laquo;Красная птица&raquo; ваш отдых в надежных руках.</h3>

@section scripts
{
    <script>
         $(document).ready(function(){
            $('.carousel').carousel({
                dist: -40
            })
        });
    </script>
}
