@{
    ViewData["Title"] = "Главная";
}

<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="http://lorempixel.com/250/250/nature/1"></a>
    <a class="carousel-item" href="#two!"><img src="http://lorempixel.com/250/250/nature/2"></a>
    <a class="carousel-item" href="#three!"><img src="http://lorempixel.com/250/250/nature/3"></a>
    <a class="carousel-item" href="#four!"><img src="http://lorempixel.com/250/250/nature/4"></a>
    <a class="carousel-item" href="#five!"><img src="http://lorempixel.com/250/250/nature/5"></a>
</div>

<h2>Весь мир с "Красной птицей"</h2>

<p>Компания "Красная птица" осуществляет мечты людей об идеальном отдыхе с 1995 года – уже 25 лет! Туроператор предлагает путешествия в 39 стран мира с вылетами из более 40 городов России. Вниманию туристов Красная птица представлены лучшие курорты и отели Турции, России, Туниса, Таиланда, Вьетнама, Греции, Испании, и других стран.
Более 14 000 туристических агентств по всей России осуществляют продажу туров от "Красная птица". Мы также обладаем самой большой франчайзинговой сетью в стране, которая насчитывает более 900 фирменных офисов. Помимо этого, для наших туристов открыта единственная в России премиальная сеть агентств Красная птица Elite Service, которая на данный момент насчитывает более 40 офисов продаж.</p>

<p>В 2017 году "Красная птица", первым среди крупных туроператоров, представил специальный отдел Элитного отдыха "Красная птица" Elite, осуществляющий обслуживание VIP-заявок.
На протяжении всего существования "Красная птица" пользуется большим успехом у семей с детьми. Специально для этой категории туристов уже 10 лет работает фирменная концепция идеального семейного отдыха Sun Family Club. Изюминка концепции – опытные российские педагоги, предлагающие детям всех возрастных групп не только отдых и развлечения, но и интересные развивающие занятия. Также в рамках фирменной концепции производится тщательный отбор отелей в соответствии со строгими стандартами качества. На текущий момент таких отелей уже более 80-ти.</p>


<p>Ключевым авиапартнером "Красная птица" является авиакомпания Royal Flight, осуществляющая чартерные пассажирские перевозки из Москвы и регионов в Турцию, ОАЭ, Грецию, Тунис, Таиланд, Вьетнам и другие страны. Преимущества компании – современный парк самолетов, высокая система безопасности и качества полетов, соответствующие международным стандартам.</p>
Семейный и элитный отдых – далеко не единственные приоритеты "Красная птица". Компания также занимается групповыми турами и мероприятиями, полностью отвечающими любым интересам корпоративных клиентов.
Разнообразие вариантов отдыха, контроль качества работы на всех этапах, огромное количество направлений и специальные концепции для туристов разных возрастов и категорий – то, за что миллионы туристов выбирают "Красная птица".

<p>С "Красная птица" ваш отдых в надежных руках.</p>

@section scripts
{
    <script>
        $(document).ready(function(){
            $('.carousel').carousel()
        })
    </script>
}
