@{
    ViewData["Title"] = "Заказать";
}

@model Tour

<h2>Заказать тур</h2>

<form asp-action="addtour" asp-controller="home" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly"></div>
    
    <div>
        <label asp-for="AdultNumber">Количество взрослых</label>
        <input type="number" asp-for="AdultNumber" min="0" value="0">
    </div>
    
    <div>
        <label asp-for="ChildNumber">Количество детей</label>
        <input type="number" asp-for="ChildNumber" min="0" value="0">
    </div>

    <div>
        <label asp-for="TimeArrival">Дата прибытия в отель</label>
        <input type="date" asp-for="TimeArrival">
    </div>

    <div>
        <label asp-for="TimeDeparture">Дата окончания</label>
        <input type="date" asp-for="TimeDeparture">
    </div>

    <input asp-for="HotelId" type="hidden" value="@ViewBag.HotelId" />
    
    <button class="btn-large waves-effect waves-light" style="text-transform: initial;" type="submit" name="action">Добавить</button>
    <button class="btn-large waves-effect waves-light" style="text-transform: initial;" type="reset" name="action">Отмена</button>
</form>

@section scripts
{
    <script>
        $(document).ready(() => {
            $('select').formSelect();
        })
    </script>
}