<br>
<footer class="page-footer red darken-4">
    <div class="container">
    <div class="row">
        <div class="col l6 s12">
        <h5 class="white-text">Турагенство "Красная птица"</h5>
        <p class="grey-text text-lighten-4">Наша организация может предоставить вам лучшие туры по низким ценам бесплатно без смс!</p>
        </div>
        <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Ссылки</h5>
        <ul>
            <li><a class="grey-text text-lighten-3" asp-action="index" asp-controller="home">Главная страница</a></li>
            <li><a class="grey-text text-lighten-3" asp-action="hotels" asp-controller="home">Отели</a></li>
        </ul>
        </div>
    </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        © 2020 ООО Турагенство "Красная птица"
        </div>
    </div>
</footer>